upstream nest-server {
  server 127.0.0.1:3000;
  server 127.0.0.1:3001
}
upstream version1.0_server {
  server 192.168.1.6:3002;
}
 
upstream version2.0_server {
  server 192.168.1.6:30013;
}
upstream default {
  server 192.168.1.6:3000;
}
server {
  listen 80;
  listen [::]:80
  server_name localhost;
  set $group "default";
  if ($http_cookie ~* "version=1.0"){
      set $group version1.0_server;
  }

  if ($http_cookie ~* "version=2.0"){
      set $group version2.0_server;
  }
  location ^~ /api {
    rewrite ^/api/(.*)$ /$1 break;
    proxy_pass http://$group;
  }
}